/* *{
    margin:0;
    padding: 0;
} */

/* 
cream
#fbf5f3
sage green
#8daa9d
dark purple
522b47

black
0f0e0e

*/

@font-face {
    font-family: 'raspberie';
    src: url('./RaspberiePersonalUseOnly.ttf');
}

@font-face {
    font-family: 'roboto-medium';
    src: url('./Roboto-Medium.ttf');
}

body{
	background: #fbf5f3;
	color: #0f0e0e;
	font-family: 'roboto-medium', Arial, sans-serif;
	font-size: 22px;
	line-height:1.6em;
	margin:0;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'raspberie';

}

h2{
    font-family: 'raspberie';
    font-size: 70px;
}

.empty-box{
    height: 180px;
    background-color: transparent;
    padding:200px;
}

.container{
	width: 70%;
	margin:auto;
	overflow: hidden;

}

#navbar{
	background: #522b47;
	color: #0f0e0e;
	position: sticky;
    top:0;
	width: 100%;
    font-family: 'raspberie';
    font-size: 20px;
}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	display:inline;
}

#navbar a{
	color: #fbf5f3;
	text-decoration: none;
	font-size: 20px;
	padding-right: 30px;
}

/* #navbar a:hover{
    background-color: #fff;
	color: #333;
	text-decoration: none;
	font-size: 18px;
	padding-right: 15px;
} */

#home-box{
    background-color: #8daa9d;
    width:99%;
	height: 90vh;
    border-radius: 20px;
    margin:10px;
    margin-bottom: 0px;
}

#home{
    float:left;
    width:60%;
	height: 90vh;
	text-align: center;
	box-sizing: border-box;
   /* background-color: #8daa9d; */
}

#home h1{
    font-family: 'raspberie';
    font-size: 150px;
    color: #0f0e0e;
	vertical-align: middle;
	padding-top: 30vh;
	padding-bottom: 30vh;
}

.box
{
    display: flex;
    float: right;
    width:35%;
	/* height: 90vh; */
	/* background-color: #f2761e; */
	margin-top: 30vh;
    /* padding-top: 50px; */
    position:sticky;
    top: 80px;

}
.box .eye 
{
    position: relative;
    /* right: 400px; */
    width: 180px;
    height: 180px;
    display: block;
    background: #fff;
    margin: 0 40px; 
    border-radius: 50%;
    box-shadow: 0 5px 45px rgba(0, 0,0, 0.2), 
        inset 0 0 15px #fff,
        inset 0 0 25px #fff;
}

.box .eye::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translate(-50%, -50%);
    width:  50px;
    height: 50px;
    border-radius: 50%;
    background: #0f0e0e;
    border: 5px solid #8daa9d; /*  blue ring around pupil*/
    box-sizing: border-box;
}

.circle-group{
    width:100%;
    display:flex;
    margin-top: 80px;
    align-content: center;
    justify-content: center;
}

.circle{
	/* float:left; */
	aspect-ratio: 1 / 1;
    width: 25%;
	border: 5px solid #fbf5f3;
    border-radius: 50%;
	padding-top: 50px;
    margin-left: 50px;
	box-sizing: border-box;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    background-color:#522b47;
    color:#fbf5f3;
  
}
.circle h3{
    vertical-align: middle;
    font-size: 26px;
    letter-spacing: 1px;
    font-family: 'raspberie';
}


#japan.circle:hover{
    background-image: url('../images/mtfuji.jpeg');
    color: #fbf5f3;

}
#philippines.circle:hover{
    background-image: url('../images/philippines.jpg');
    color:#fbf5f3;
}
#singapore.circle:hover{
    background-image: url('../images/singapore.jpg');
}

#about{
    width: 99%;
    margin:10px;
    height: 650px;
    box-sizing: border-box;
    
    padding: 30px;
}

#about .circle{
    background-color: #8daa9d;
    border-color: #0f0e0e;
    color: #0f0e0e;
}
#about h1{
    color: #522b47;
}

#stardew.circle:hover{
    background-image: url('../images/stardew.png');
    background-size: contain;
}
#shark.circle:hover{
    background-image: url('../images/shark.jpg');
    background-size: contain;
}
#smiski.circle:hover{
    background-image: url('../images/smiski.jpg');
    background-size: contain;
}

#fun-facts{
    width: 99%;
    margin:10px;
    height: 650px;
    box-sizing: border-box;
    background-color: #8daa9d;
    border-radius: 20px;
    padding: 30px;
}

#contact{
    width: 99%;
    margin:10px;
    height: 650px;
    box-sizing: border-box;
}

#contact .circle{
    background-color: #8daa9d;
    border-color: #0f0e0e;
    color: #0f0e0e;
    text-align: center;
    vertical-align: middle;
}

#contact .circle:hover{
    background-color: #522b47;
    color:#fbf5f3;
}

#contact .circle a{
    text-decoration: none;
    font-family: 'raspberie';
    font-size:30px;
}

#contact .circle a:hover{
    color:#fbf5f3;
}
/* 
#main{
	float:left;
	width: 70%;
	padding: 0 30px;
	box-sizing: border-box;
}
#sidebar{
	float:right;
	width: 30%;
	background:#333;
	color:white;
	padding: 10px;
	box-sizing: border-box;
} */

#main-footer{
	background:#522b47;
	color: #fbf5f3;
	text-align: center;
	padding: 10px;
	margin-top: 30px;
}




